.topbar__main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: var(--menu-bg-color);
  padding: 10px 0;
}

.topbar__left {
    display: flex;
    align-items: center;
}

.topbar__hamburger {
    height: 60px;
    display: flex;
    align-items: center;
}

.topbar__logo {
    height: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.topbar__logo img {
    height: 100%;
    margin-right: 10px;
}

.topbar__logo span {
    font-size: 1.2em;
    font-weight: 600;
}

.topbar__search {
    width: 600px;
}

.topbar__search .form-control {
    background-color: var(--bg-color);
    border: none;
    color: #fff;
}

.topbar__search .form-control:focus {
    box-shadow: none;
}

.topbar__search .form-control::placeholder {
    font-size: 14px;
} 

.topbar__search .btn-secondary {
    padding: 5px 30px;
    background-color: #393939;
    border: none;
    border-radius: unset;
}

.topbar__search .form-inline .form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: nowrap;
}

.topbar__search svg {
    color: #ccc;
}

.topbar__search svg:hover {
    color: #fff;
}

.topbar__user {
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
}

.topbar__user:hover {
    background-color: #333;
}

.topbar__user span {
    font-weight: 400;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
}