.burger {
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    transition: top .3s;
    z-index: 4;
  }
  
  .burger .line {
    width: 25px;
    height: 3px;
    background-color:#fff;
    margin: 5px;
    transition: transform .3s, background-color .3s;
  }
  
  .toggle .line:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line:nth-child(2) {
    opacity: 0;
  }
  
  .toggle .line:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }