.filter-block {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  cursor: pointer;
  margin-bottom: 1rem;

  &__title {
    padding: 0 20px;
    color: var(--text-color);
  
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      color: #fff;
    }
  }

  &__items {
    margin-top: 10px;
    font-size: 12px;

    li {
      padding: 5px 20px;
      font-size: 12px;
      
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      a {
        color: var(--text-color);
        opacity: .5;
        
        width: 100%;
        display: block;
      }

      &:hover a {
        color: #fff;
        opacity: 1;
      }
    }
  }
}